#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [2]:
df.head(2)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6

In [3]:
profit_by_branch = df.groupby('Branch')['gross income'].agg(['sum'])

profit_by_branch

              sum
Branch
A       5057.1605
B       5057.0320
C       5265.1765

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [4]:
profit_by_city = df.groupby('City')['gross income'].agg(['sum'])
profit_by_city

                 sum
City
Mandalay   5057.0320
Naypyitaw  5265.1765
Yangon     5057.1605

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

1. –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ (Product line) –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å —É —Ä—ñ–∑–Ω—ñ –≥–æ–¥–∏–Ω–∏ –¥–æ–±–∏?

2. –Ø–∫–µ —Ä–æ–∑–ø–æ–¥—ñ–ª–µ–Ω–Ω—è –≤–∏—Ç—Ä–∞—Ç –º—ñ–∂ —á–æ–ª–æ–≤—ñ–∫–∞–º–∏ —ñ –∂—ñ–Ω–∫–∞–º–∏ —Ç–∞ –ø–æ–¥—ñ–ª –≤–∏—Ç—Ä–∞—Ç –Ω–∞ –∫–µ—Ç–µ–≥–æ—Ä—ñ—ó

3. –Ø–∫–∏–π –¥–µ–Ω—å —Ç–∏–∂–Ω—è —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º –∑–∞ gross income?

In [17]:
#–Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ (Product line) –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å —É —Ä—ñ–∑–Ω—ñ –≥–æ–¥–∏–Ω–∏ –¥–æ–±–∏

df['Hour'] = pd.to_datetime(df['Time'], format='%H:%M').dt.hour

product_by_hour_df = df.groupby(['Hour', 'Product line']).size().unstack().fillna(0)

product_by_hour_df.head()

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Hour,,,,,,
10,17,14,20,17,18,15
11,18,14,11,10,21,16
12,16,19,10,14,14,16
13,13,19,15,17,20,19
14,14,15,12,19,9,14

–ó–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ü—å–æ–≥–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∏ –º–æ–∂–µ–º–æ –∑—Ä–æ–∑—É–º—ñ—Ç–∏ –≤ —è–∫—ñ –≥–æ–¥–∏–Ω–∏ —è–∫ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –ø–æ–ø—É–ª—è—Ä–Ω—ñ—à—ñ —ñ –∑–∞–ø—É—Å–∫–∞—Ç–∏ –∞–∫—Ü—ñ—ó –∞–±–æ –±—ñ–ª—å—à–µ —É–≤–∞–≥–∏ –ø—Ä–∏–¥—ñ–ª—è—Ç–∏ —Å—Ç–æ–∫—É —Ç–æ–≤–∞—Ä—É –Ω–∞ –ø–æ–ª–∏—Ü—è—Ö

In [32]:
gender_avg_spending_df = (
    df.groupby('Gender')['Total']
    .mean()
    .round(2)
    .reset_index()
    .rename(columns={'Total': 'Average Total'})
)

In [33]:
female_df = df[df['Gender'] == 'Female']

female_products_df = (
    female_df['Product line']
    .value_counts()
    .reset_index()
    .rename(columns={'index': 'Product line', 'Product line': 'Count'})
)

In [34]:
male_df = df[df['Gender'] == 'Male']

male_products_df = (
    male_df['Product line']
    .value_counts()
    .reset_index()
    .rename(columns={'index': 'Product line', 'Product line': 'Count'})
)

In [35]:
print(gender_avg_spending_df)
print(female_products_df)
print(male_products_df)

   Gender  Average Total
0  Female         335.10
1    Male         310.79
                    Count  count
0     Fashion accessories     96
1      Food and beverages     90
2       Sports and travel     88
3  Electronic accessories     84
4      Home and lifestyle     79
5       Health and beauty     64
                    Count  count
0       Health and beauty     88
1  Electronic accessories     86
2      Food and beverages     84
3     Fashion accessories     82
4      Home and lifestyle     81
5       Sports and travel     78

–ú–∏ –º–æ–∂–µ–º–æ –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–æ–∫ —â–æ –∂—ñ–Ω–∫–∏ –±—ñ–ª—å—à–µ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –Ω—ñ–∂ —á–æ–ª–æ–≤—ñ–∫–∏, –∞ —Ç–∞–∫–æ–∂ –∑–∞–≤–¥—è–∫–∏ –≤–∏–∑–Ω–∞—á–µ–Ω–Ω–∏–º 'Product line' –º–∞—Ä–∫–µ—Ç–∏–Ω–≥ –∫–æ–º–∞–Ω–¥–∞ –º–æ–∂–µ —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –≥–µ–Ω–¥–µ—Ä–Ω—ñ –ø—Ä–æ–º–æ —Ç–∞ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó

In [36]:
 # –Ø–∫–∏–π –¥–µ–Ω—å —Ç–∏–∂–Ω—è —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º –∑–∞ gross income?

df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')
df['Weekday'] = df['Date'].dt.day_name()

weekday_income_df = (
    df.groupby('Weekday')['gross income']
    .mean()
    .round(2)
    .reset_index()
    .rename(columns={'gross income': 'Average Gross Income'})
    .sort_values(by='Average Gross Income', ascending=False)
)

weekday_income_df

     Weekday  Average Gross Income
2   Saturday                 16.30
3     Sunday                 15.92
4   Thursday                 15.65
5    Tuesday                 15.52
0     Friday                 15.05
6  Wednesday                 14.56
1     Monday                 14.44

In [ ]:
–¢—É—Ç –º–∏ –±–∞—á–∏–º–æ —â–æ –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π –¥–µ–Ω—å —Å—É–±–æ—Ç–∞, —â–æ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∂—É—î —â–æ –ª—é–¥–∏ —Ä–æ–±–ª—è—Ç—å –≤–µ–ª–∏–∫—ñ –∑–∞–∫—É–ø–∫–∏ –≤ —Å—É–±–æ—Ç—É –Ω–∞ –Ω–∞—Å—Ç—É–ø–Ω–∏–π —Ç–∏–∂–¥–µ–Ω—å,
–ø–µ—Ä–µ–≤—ñ—Ä–∫–∞ –≥—ñ–ø–æ—Ç–∏–∑–∏ –¥–æ–ø–æ–º–∞–≥–∞—î —Å–ø–ª–∞–Ω—É–≤–∞—Ç–∏ –∞–∫—Ü—ñ—ó –Ω–∞ –≤–∏—Ö—ñ–¥–Ω—ñ, –∫—Ä–∞—â–µ –∫–æ–Ω—Ç—Ä–æ–ª—é–≤–∞—Ç–∏ —Å—Ç–æ–∫ —Ç–∞ –ø–µ—Ä—Å–æ–Ω–∞–ª