#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [2]:
df.head(2)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6

In [3]:
profit_by_branch = df.groupby('Branch')['gross income'].agg(['sum'])

profit_by_branch

              sum
Branch
A       5057.1605
B       5057.0320
C       5265.1765

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [4]:
profit_by_city = df.groupby('City')['gross income'].agg(['sum'])
profit_by_city

                 sum
City
Mandalay   5057.0320
Naypyitaw  5265.1765
Yangon     5057.1605

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

1. Які категорії товарів (Product line) найчастіше купують у різні години доби?

2. Яке розподілення витрат між чоловіками і жінками та поділ витрат на кетегорії

3. Який день тижня є найприбутковішим за gross income?

In [17]:
#Які категорії товарів (Product line) найчастіше купують у різні години доби

df['Hour'] = pd.to_datetime(df['Time'], format='%H:%M').dt.hour

product_by_hour_df = df.groupby(['Hour', 'Product line']).size().unstack().fillna(0)

product_by_hour_df.head()

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Hour,,,,,,
10,17,14,20,17,18,15
11,18,14,11,10,21,16
12,16,19,10,14,14,16
13,13,19,15,17,20,19
14,14,15,12,19,9,14

За допомогою цього питання ми можемо зрозуміти в які години як категорії популярніші і запускати акції або більше уваги приділяти стоку товару на полицях

In [32]:
gender_avg_spending_df = (
    df.groupby('Gender')['Total']
    .mean()
    .round(2)
    .reset_index()
    .rename(columns={'Total': 'Average Total'})
)

In [33]:
female_df = df[df['Gender'] == 'Female']

female_products_df = (
    female_df['Product line']
    .value_counts()
    .reset_index()
    .rename(columns={'index': 'Product line', 'Product line': 'Count'})
)

In [34]:
male_df = df[df['Gender'] == 'Male']

male_products_df = (
    male_df['Product line']
    .value_counts()
    .reset_index()
    .rename(columns={'index': 'Product line', 'Product line': 'Count'})
)

In [35]:
print(gender_avg_spending_df)
print(female_products_df)
print(male_products_df)

   Gender  Average Total
0  Female         335.10
1    Male         310.79
                    Count  count
0     Fashion accessories     96
1      Food and beverages     90
2       Sports and travel     88
3  Electronic accessories     84
4      Home and lifestyle     79
5       Health and beauty     64
                    Count  count
0       Health and beauty     88
1  Electronic accessories     86
2      Food and beverages     84
3     Fashion accessories     82
4      Home and lifestyle     81
5       Sports and travel     78

Ми можемо зробити висновок що жінки більше витрачають ніж чоловіки, а також завдяки визначенним 'Product line' маркетинг команда може створювати гендерні промо та пропозиції

In [36]:
 # Який день тижня є найприбутковішим за gross income?

df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')
df['Weekday'] = df['Date'].dt.day_name()

weekday_income_df = (
    df.groupby('Weekday')['gross income']
    .mean()
    .round(2)
    .reset_index()
    .rename(columns={'gross income': 'Average Gross Income'})
    .sort_values(by='Average Gross Income', ascending=False)
)

weekday_income_df

     Weekday  Average Gross Income
2   Saturday                 16.30
3     Sunday                 15.92
4   Thursday                 15.65
5    Tuesday                 15.52
0     Friday                 15.05
6  Wednesday                 14.56
1     Monday                 14.44

In [ ]:
Тут ми бачимо що найприбутковіший день субота, що підтверджує що люди роблять великі закупки в суботу на наступний тиждень,
перевірка гіпотизи допомагає спланувати акції на вихідні, краще контролювати сток та персонал